@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin-top: 30px;
}

.line{
    width: cover;
    height: 0.1rem;
    background-color: black;
}

ul {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15px;
    margin-top: 10px;
    li {
        list-style: none;
        
        a {
            text-decoration: none;
            color: black;
        }
    }
}

.banner01 {
    background-image: url('../img/Banner01.jpeg');
    height: 12rem;
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: cover;
    .texto{
        width: 60dvw;
        p{
            margin: 30px;
        }
    }
}


footer {
    background-color: #A8A8A8;
    width: auto;
    height: 2rem;
    text-align: right;
    padding-right: 20px;
    display: flex;
    justify-content: end;
    align-items: center;
}
nav{
    font-family: 'Italiana', serif;
}